<p>App.component.html</p>
<header>
  
  <div class="language-selection">
    <!--<img class="img1" src="https://cdn-icons-png.freepik.com/256/14010/14010011.png" alt="Français" (click)="changeLanguage('fr')" />-->
    <img class="img1" src="https://e1.pngegg.com/pngimages/813/470/png-clipart-world-flag-icons-france-flag-icon-thumbnail.png" alt="Français" (click)="changeLanguage('fr')" />
    <img class="img2" src="https://e1.pngegg.com/pngimages/934/992/png-clipart-world-flag-icons-round-usa-flag-art-thumbnail.png" alt="English" (click)="changeLanguage('en')" />
  </div>
  <div class="image-slider">
    <img [src]="vehicles[this.nbFoto].image" alt="Image Slider" />
  </div>
</header>


<nav class="navbar">
  <div [ngSwitch]="currentLanguage.id">
    <div *ngSwitchCase = 1>
      <ul>
        <li><a routerLink="/adresses">Adresses</a></li>
        <li><a routerLink="/covoiturages">Covoiturages</a></li>
        <li><a routerLink="/employes">Employés</a></li>
        <li><a routerLink="/reservations">Réservations</a></li>
        <li><a routerLink="/vehicules">Véhicules</a></li>
      </ul>
    </div>
    <div *ngSwitchCase = 2>
      <ul>
        <li><a routerLink="/adresses">Addresses</a></li>
        <li><a routerLink="/covoiturage">Ride share</a></li>
        <li><a routerLink="/employes">Employees</a></li>
        <li><a routerLink="/reservations">Bookings</a></li>
        <li><a routerLink="/vehicules">Vehicles</a></li>
      </ul>
    </div>
    <div *ngSwitchDefault>
      <!--par defaut: Anglais-->
      <ul>
        <li><a routerLink="/adresses">Addresses</a></li>
        <li><a routerLink="/covoiturages">Ride share</a></li>
        <li><a routerLink="/employes">Employees</a></li>
        <li><a routerLink="/reservations">Bookings</a></li>
        <li><a routerLink="/vehicules">Vehicles</a></li>
      </ul>
    </div>
  </div>
</nav>

<footer>
  <a routerLink="/contacts">Contacts</a>
</footer>


<router-outlet />
